body{
    background:  linear-gradient(135deg, #153677, #4e085f);
}
.bg-light-dark{
    background-color: #2B3035;
}


#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex:1;
}